.graph{
    background-color: #ececec;
    width: 300px;
    height: 300px;
    margin: 32px;
    cursor: pointer;
    /* position: relative; */
}
.x-axis{
    background-color:#0e0e0e;
    height: 1px;
    width: 100%;
    position: relative;
    top: 150px;
}
.y-axis{
    background-color:#0e0e0e;
    width: 1px;
    height: 100%;
    position: relative;
    left: 150px;
}
.unit_circle{
    border: 1px solid #0e0e0e ;
    border-radius: 50%;
    width: 256px;
    height: 256px;
    position: absolute;
    top: 104px;
    left: 54px;
}

.zero{
    color: red;
    width: 14px;
    height: 14px;
    position: absolute;
    /* cursor: grab; */
}
.pole{
    color: rgb(0, 47, 255);
    width: 13px;
    height: 13px;
    position: absolute;
    /* cursor: grab; */
}

.switch_btn{
    margin: 32px 0 0 32px;

}

.menu{
    background-color: #646464;
    color: #ececec;
    border-radius: 5px;
    display: block;
    width: 120px;
    padding: 2px;
    display: none;
    position: relataive;
}

/* .point:hover .menu{
    display: block;
} */
